@model Valgapplikasjon.Models.ValgModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Slett valg</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tittel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tittel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartNominering)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartNominering)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SluttNominering)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SluttNominering)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartAvstemming)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartAvstemming)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SluttAvstemming)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SluttAvstemming)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kontrollert)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kontrollert)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ValgId" />
        <input type="submit" value="Slett" class="btn btn-danger btnSlettValg"/>
        <a class="btn btn-dark" asp-action="Index">Tilbake til valgoversikt</a>
    </form>
</div>
<br />
